*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #EEEEEE;
    --secondary-grey: #8E8E8E;
    --dark-gray: #272726;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-size: 100%;
    font-family: sans-serif;
    background-color: var(--bg-color);
}

main {
    max-width: 850px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 10vh repeat(5, 70vh);

    background-color: white;    

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

/* ============
Landing segment
============ */
.landing-segment {
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
    grid-template-rows: 1fr;
}

.landing-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-msg h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

.landing-msg p {
    color: var(--secondary-grey);
}

.landing-msg a {
    margin-top: 1.5rem;
    padding: 1em 2.5em 1em 2.5em;
    border: 1px solid var(--secondary-grey);
    border-radius: 30px;
    background-color: transparent;
    text-decoration: none;
    color: var(--secondary-grey);
}

.landing-msg a:hover {
    background-color: var(--bg-color);
    /* animation: fadein ; */
}

.landing-photo img{
    width: 100%;
    height: 100%;
}

/* ===================
Our work segment title 
=================== */
.our-work-separator {
    background-color: var(--dark-gray);
    color: white;
}
/* Cool bars on the sides */
.our-work-separator p {
    margin: 0;
    padding: 0 1rem 0 1rem;
    border-left: 1px dotted white;
    border-right: 1px dotted white;
}

/* ======================
Photography work examples
====================== */
.work-example {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.work-example img{
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 0;
}

.work-example h3 {
    margin: 1.5rem;
    font-weight: 600;
}

.work-example p {
    margin: 1rem;
    margin-top: 0;
}

/* Footer */
footer {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    line-height: 2rem;
}

footer h1 {
    margin: 0;
    font-size: 3rem;    
}

/* ================
Genral layout stuff
================ */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marg-pad-zero {
    margin: 0;
    padding: 0;
}